/* body and typo */
body {
    /*font-family: Open Sans,Helvetica,Arial,sans-serif;*/
    /*font-size: 14px;*/
    line-height: 1.6;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    font-weight: 300;
    background-color: #f5f8fa;
}

.list-img {
    width: 40px;
    background: #ddd;
    height: 40px;
}

.nav-tabs {
    font-size: 12px;
}

.panel-title {
    font-size: 15px;
}

.table>thead>tr>th {
    padding: 6px 10px 7px;
}
.table>tbody>tr>td {
    padding: 8px 10px 10px;
}
.editable-input {
    margin-bottom: 5px;
}
.editable-input .form-control { min-width: 80px; }
.editable-buttons .editable-submit { width: 70%; }
.editable-buttons .editable-cancel { width: 30%; }

.selectize-input {
    border-radius: 0px;
    padding: 2px 6px;
    border: 1px solid #bababa;
    min-height: 26px;
}
.selectize-input.dropdown-active {
    border-radius: 0px;
}
.selectize-dropdown {
    border-radius: 0px !important;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: 0px;
    top: 0px;
}

a { color: #2A2C2E; }
a:hover { color: #2A2C2E; }
a:focus { color: #2A2C2E; }

.navbar .toggle-sidebar { margin-top: 8px; margin-right: 10px; padding: 6px 16px; }
.navbar .collapse-main-sidebar { padding: 6px 16px; border: 1px solid #ccc; }

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        margin-right: 0px;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /*.navbar-text { float: none; margin: 15px 0; }*/
    .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .dropdown-submenu > a:after {
        top: 5px;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .multi-level a {
        padding: 10px 15px;
    }

    .navbar-nav .dropdown-menu>li>a {
        padding: 10px 15px;
    }
}

@media (max-width: 767px) {
    .navbar-toggle {
        display: block;
        margin-right: 20px;
    }
}

/* panels */
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 0px;
}
.shortable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 100%;
    margin-bottom: 0px;
}

/* search */
@media (max-width: 991px) {
    .input-search { margin-bottom: 20px; }
}

/* loading screen */
.loadingoverlay {
    z-index: 999;
}

/* mfb button */
.mfb-component__button--main { background-color: green }
.mfb-component__wrap a:hover, .mfb-component__wrap a:focus { color: #fff; }

/* form */
.form-title { margin-bottom: 30px; margin-top: 0; }

/* margins */
.mr-10 { margin-right: 10px }
.mr-20 { margin-right: 20px }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mb-20 { margin-bottom: 20px; }

@media (max-width: 991px) {
    .mt-sm-0 { margin-top: 0px; }
}

/* sweet alert */
.sweet-alert { width: 300px; margin-left: -150px; left: 50%; }
.sweet-alert .icon { width: 50px; height: 50px; }
.sweet-alert .icon.pulseWarning .body.pulseWarningIns { height: 18px; }
.sweet-alert .icon.info:after { top: 37px; }
.sweet-alert h2 { font-size: 15px; }
.sweet-alert .btn { font-size: 12px; }
.sweet-alert .icon.success .placeholder { width: 50px; height: 50px; }
.sweet-alert .icon.success .long { width: 36px !important; right: 9px !important; top: 21px !important; }

/* tree view */
.listContainer { background: #fff; }
.tree { margin-bottom: 0px }
.tree .treegrid-selected { background: #eee; }
.tree .ui-selected { background: #eee; }
.tree > tbody > tr:hover { background: #eee; }
.tree > tbody > tr:first-child > td {
    border-top: 0px;
}
/*.tree .treegrid-expander:before {*/
/*background-image: none;*/
/*content: "\f016";*/
/*font: normal normal normal 14px/1 FontAwesome;*/
/*}*/

.tree .treegrid-expander.treegrid-expander-expanded { background-image: none; }
.tree .treegrid-expander.treegrid-expander-expanded:before {
    color: #888;
    content: "\f146";
    font: normal normal normal 14px/1 FontAwesome;
}

.tree .treegrid-expander.treegrid-expander-collapsed { background-image: none; }
.tree .treegrid-expander.treegrid-expander-collapsed:before {
    color: #888;
    content: "\f0fe";
    font: normal normal normal 14px/1 FontAwesome;
}

/* sortable */
.placeholder {
    border: 3px dashed #aaa;
    height: 38px;
    width: 100%;
    background: #eee;
}

.switchery {
    margin-right: 20px;
}

/* fileTree */
.fileTree {
    width: 100%;
    min-height: 200px;
    overflow-y: auto;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
.btn-default:hover,.btn-default:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.file-preview-frame {
    border: 0px;
    box-shadow: none;
}

.file-preview-frame:not(.file-preview-error):hover {
    box-shadow: none;
}

.mce-tinymce {
    margin-bottom: 20px !important;
}


.list-group-item .label {
    background: #ddd;
    color: #666;
    font-weight: normal;
}